body {
    font-family: sans-serif;
}

.button {
    text-align: center;
}


.my-button {

}

.item {

}

.msg {
    display: block;
}

.container {
    margin: auto;
    width: 960px;
    background: lightgray;
}

.header {
    background: lightgray;
    text-align: center;
    padding: 10px;
}